/* RESET CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GOOGLE FONTS */

/* WORK SANS */
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/static/WorkSans-Light.ttf") format("tff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/static/WorkSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/static/WorkSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* INDEX */
.body{
	display: flex;
	flex-direction: column;
	font-family: "Work Sans", sans-serif;
	font-weight: 400;
	min-height: 100vh;
}

.index-body{
	color:  #FFFFFF;
	background-image: url(../img/home-hero.jpg);
	background-size: cover;
	background-position: center 20%;
	background-repeat: no-repeat;
	height: 100%;
}

.menu-nav{
	text-align: center;
	width: 100%;
}

.menu-nav__ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 2rem;
	font-size: 1.3rem;
	width: 20%;
	text-transform: uppercase;
	align-items: center;
	margin:0 auto;
}

.menu-nav__item{
	text-decoration: none;
	color:  #FFFFFF;
}

.menu-nav__item:hover{
	color:#6BDEC8;
	transition: all 0.3s ease;
}

.hero{
	margin:auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap:0.5rem;
}

.hero__logo{
	position: inherit;
}

.hero__titulo{
	text-transform: lowercase;
	font-family: "Work Sans", sans-serif;
	font-size: 8rem;
	font-weight: 1000;
	letter-spacing: -0.6rem;
}

.hero__descripcion{
	font-size: 2.5rem;
	font-weight: 700;
	letter-spacing: 0.3rem;
}

.footer{
	margin-top: auto;
    text-align: center;
    padding: 2rem 0;
}

.footer__lista-avisos{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 25%;
	align-items: center;
	margin:0 auto;
	padding-bottom: 1.5rem;
	font-size: 1.1rem;
}

.footer__enlace{
	color:  #FFFFFF;
	text-decoration: none;
}

.footer__enlace:hover{
	color:#6BDEC8;
	transition: all 0.3s ease;
}

.footer__autor{
	color:  #FFFFFF;
	padding-bottom: 0.8rem;
	font-size: 0.85rem;
}

.footer__creditos{
	font-size: 0.9rem;
}

.footer__creditos--enlace{
	color:  #FFFFFF;
	text-decoration: none;
}

.footer__creditos--enlace:hover{
	color:#6BDEC8;
	transition: all 0.3s ease;
}

/* QUE ES LA CERÁMICA*/
.ceramica-body{
	color: #000000;
	display: flex;
	flex-direction: column;
}

.header{
	margin-bottom: 3rem;
}

.menu-nav--compressed{
	background-color: #000000;
	padding-top: 1rem;
	margin:auto 0;
	padding-bottom: 3rem;
}

.hero__titulo--compressed{
	color:#FFFFFF;
	text-decoration: none;
	font-size: 2rem;
	text-transform: lowercase;
	font-weight: 700;
}

.hero__titulo--compressed::before{
	content: '';
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 0.5rem;
	background-image: url('../img/isologo-taller.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.menu-nav__ul--compressed{
	font-size: 0.9rem;
	width: 12.5%;
	padding-top: 1rem;
}	

.menu-nav_item--activo{
	color:  #FFFFFF;
	text-decoration: underline;
	text-underline-offset: 1rem;
}

.menu-nav__item--compressed:hover{
	color:#6BDEC8;
	transition: all 0.3s ease;
}

.footer--compressed {
	background-color: #000000;
	padding-top: 1rem;
	text-align: center; 
}

.footer--compressed .footer__content {
	width: 25%;         
	margin: 0 auto 0 15rem;     
	text-align: left;    
}

.figure{
	width: fit-content;
	height: fit-content;
	margin: 0 auto 1.5rem auto;
}

.figure__video{
	width: 40rem;
	height: 22.5rem;
}

.figure__text{
	margin-top: 0.3rem;
	font-size: 0.8rem;
}

/* Sangría a los laterales del texto */
.section__titulo,
.section__parrafo,
.utensilios__lista,
.definiciones__lista,
.ceramica__parrafo {
    width: 80%;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}

/* Parte de secciones */
.pagina__titulo{
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
	margin-bottom: 2rem;
}

.pagina__parrafo{
	margin-bottom: 3rem;
	width: 80%;
}

.section__titulo{
	font-size: 1.8rem;
	font-weight: 700;
	padding-top: 2rem;
}	

.section__titulo::after{
	content: "";
    display: block;
    width: 100%;
    height: 2px;         
    background-color: #000; 
    margin: 0.35rem 0 1rem;      
}

.section__parrafo{
	font-size: 1.15rem;
	line-height: 1.5rem;
}

/* Sección de utensilios */
.utensilios__lista{
	width: 80%; 
	list-style-type: square;
    padding-left: 12%;
    padding-right: 10%;
}

.utensilios__item{
	margin-bottom: 1rem;
}

.texto--resaltado{
	font-weight: 700;
}


/* Sección de DL */
.definiciones__lista{
	width: 80%; 
	list-style-type: square;
    padding-left: 12%;
	padding-top: 1rem;
    padding-right: 10%;
}

.definiciones__titulo{
	font-size: 1.5rem;
	font-weight: 700;
}

.definiciones__texto{
	padding-top: 0.5rem;
	padding-left: 3rem;
	padding-bottom: 1rem;
	font-size: 1.1rem;
	line-height: 1.5rem;
}

.ceramica__parrafo{
	margin: 0 auto 4rem auto;
	width: 80%; 
    padding-left: 10%;
    padding-right: 10%;
}

.ceramica__enlace{
	color: #942C0B;
}

/* CURSOS */
.pagina__titulo-curso{
	font-size: 1.8rem;
	line-height: 2.2rem;
	font-weight: 700;
	padding:2rem 0 0.3rem 0;
	text-align: center;
}

.pagina__titulo-curso--tabla{
	margin: 0 31.5%;
	text-align: left;
}

.fecha__titulo{
	font-size: 3rem;
	margin-bottom: 3rem;
	font-weight: 700;
	text-align: center;
}

.cursos__imagen{
	width: 39rem;
	height: 26.5rem;
}

.cursos__texto-imagen{
	padding-top: 1rem;
	font-size: 0.8rem;
}

/* Tabla */
.table{
	text-align: left;
	margin: 1rem 12.5% 4rem 12.5%;
	width: 70%;
	border-collapse: separate;
}

.table__titulo{
	font-size: 1.5rem;
	text-align: center;
	border-top: 1px solid #000; 
	vertical-align: middle;
}

.table-head__row{          
	padding: 1rem 0;
	height: 2rem;
}

.table-head__td--curso{
	padding-left: 0.3rem;
}

.table-head__td{
	vertical-align: middle;
	border-top: 1px solid #000;  	
    border-bottom: 1px solid #000;   
	vertical-align: middle;
}

.table__fila{
	background-color: #FFFFFF;
	height: 2.5rem;
}

.table-body__td{
	vertical-align: middle;
	font-size: 0.8rem;
}

.table-body__td--curso{
	font-weight: 700;
	padding-left: 0.3rem;
	font-size: 1.1rem;
}

.table__fila--impar{
	background-color: #6BDEC8;
}

.table-foot__row{
	text-align: left;
    border-bottom: 1px solid #000;             
    padding: 0.5rem 0 0.5rem 0.4rem;      
	font-size: 0.8rem;         
}

/* INSCRIPCIONES */
.pagina__titulo-inscripcion{
	font-size: 2rem;
	line-height: 2.2rem;
	font-weight: 700;
	padding:2rem 0 0.3rem 0;
	text-align: center;
	margin-bottom: 2rem;
}

.formulario{
	width: 70%;
	margin:0 auto;
	align-items: center;
}

.form__recordatorio{
	margin-bottom: 2rem;
	margin-left: 0.2rem;
}

.fieldset{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid #000;
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
}

.fieldset__label{
	display: flex;
    flex-direction: column;    
	margin: 0 1rem 1rem 0;
	text-indent: 1rem;
}

.fieldset__input, .fieldset__input--select{
	padding: 1rem 0 1rem 0.5rem;
	margin: 0.5rem 1rem 0 1rem;
	font-size: 1.1rem;
	font-family: "Work Sans", sans-serif;
	background-color: #FFFFFF;
	border: #000000 1px solid;
}

.fieldset__legend{
	text-align: left;
	margin: 0 auto 1rem 1rem;
	font-weight: 700;
}

.fieldset--otros{
	display: flex;
	flex-direction: column;
    gap: 1rem 2rem;
}

.fieldset--radio{
	margin: 0.5rem 2rem 0 1rem;
	padding: 1rem 0 2rem 0.5rem;
	display: flex;
	flex-direction: column;
	border: #000000 1px solid;
}

.fieldset__input--textArea{
	padding: 5rem 0;
}

.fieldset__label--radio{
	margin: 0;
}

.fieldset--pago{
	display:flex;
	flex-direction: column;
	gap: 1rem;
	padding-bottom: 2rem;
}

.form__disclaimer{
	line-height: 1.5rem;
	margin-bottom: 1rem;
}

.form__submit-container{
	margin-top: 1rem;
    text-align: left;
	margin-bottom: 2rem;
}

.form__submir-button{
	background-color: #942C0B;
	color: #FFFFFF;
	font-size: 1.1rem;
	padding: 1rem 2rem;
	border: none;
}